@import "/styles/reset.css";

body {
  background-color: #38407c;
}

main {
  color: #fff;
}
button {
  cursor: pointer;
}
header {
  background-color: #7282fb;
  padding: 1rem 2rem;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .left_nav {
  display: flex;
}

.container .left_nav .search {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  margin-left: 2rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.container .left_nav .search input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.9rem;
  padding: 0 1rem;
  /* position: relative; */
}
.container .left_nav .search p {
  display: flex;
  padding: 1rem;
  color: #188fff;
  /* background-color: #38407c; */
}

p .fa-angle-down {
  margin: 0 0.8rem;
}

.left_nav .search_icon {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: #9e97fc;
}
.left_nav .search_icon:hover {
  background-color: #b6b2f3;
}

.right_nav {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right_nav p {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: bolder;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
.right_nav p img {
  color: #fff;
  margin-right: 1rem;
  border-radius: 50%;
}
.right_nav p:hover{
  background-color: #a2aaf5;
}

/*========================== main============================= */
.maincontainer {
  display: flex;
  justify-content: space-between ;
}
.left_side {
  background-color: #505baf;
  width: 14rem;
  height: 100vh;
  padding: 7rem 1.5rem;
  line-height: 1.8rem;
  position: fixed;
}
.left_side .compose {
  width: 100%;
  background-color: #188fff;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.5rem 0;
  font-weight: bolder;
  border-radius: 0.2rem;
}
.left_side p {
  padding: 0 1rem;
  font-size: 0.8rem;
  cursor: pointer;
}
.left_side p:hover {
  background-color: #434d99;
}
.left_side p:active{
   background-color: #434d99;
}
.items .inbox {
  background-color: #356ddc;
  padding: 0 1rem;
  border-left: 2px solid #188fff;
  margin: 1rem 0;
}
.left_side p i {
  color: #b9bddf;
  font-size: 1rem;
}

#more {
  background-color: transparent;
  border: none;
  color: #fff;
}

.items2 {
  display: none;
}
.views {
  display: flex;
  justify-content: space-between;
}
.views:hover {
  background-color: #434d99;
}

.display {
  display: none;
}

.mails_area {
  background-color: #38407c;
  width: 84%;
  height: 89vh;
  margin: 5.4% 3% 0 14%;
  display: block;
}
.head_mails {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 0.1rem;
  padding: 1rem 2rem;
  color: #d8d3e4;
}

.mid_mails span {
  margin: 0 1rem;
  color: #626997;
}

.mails_right {
  position: fixed;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #38407c;
  padding: 1rem;
  padding: 7rem 1rem;
  box-shadow: 0 0 0.1rem;
}
.mails_right .fa-gear {
  font-size: 1.5rem;
  color: #fff;
}
.mails_right i {
  color: #d8d3e4;
  margin: 1rem 0;
}
.mails_right i:hover {
  color: #fff;
  cursor: pointer;
}
.mail_section {
  color: #eaeaf1;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 2rem;
  border-bottom: 0.1px solid #626997;
  font-size: 0.9rem;
  cursor: pointer;
}
.mail_section .mid {
  width: 70%;
}
.mail_section:hover {
  background-color: #434d99;
}

.mail_section .time .fa-trash-can {
  color: rgb(239, 68, 68);
}

.display{
  display: none;
}




/* dialogueBoxes */

.compose_box{
  color: gray;
  background-color: #fff;
  width: 84%;
  /* height: 89vh; */
  padding: 3rem;
  display: none;
  /* margin: 5.4% 3% 0 1%; */
}

.to_from{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.cross{
  float: right;
  margin: 0 0 2rem -2rem;
  cursor: pointer;
}
.cross:hover{
color: #000;
}
.to{
  font-size: 0.9rem;
  border-bottom: 1px solid;
  width: 100%;
  /* background-color: #076ac7; */
}
.to_from input{
  width: 95%;
  padding: 0.4rem 0;
  border: none;
  outline: none;
}


#Subject{
  width: 100%;
  border-bottom: 1px solid gray;
}
#Subject:focus{
  border-bottom: 1px solid #188fff;
}

.to_from textarea{
  border: none;
  outline: none;
  font-size: 1rem;
  height: 60vh;
  overflow-y: scroll;
  padding: 1rem;
 
}

::-webkit-scrollbar{
  display: none;
}

.compose_footer{
  position: fixed;
  bottom: 0;
  width: 79%;
  display: flex; 
  align-items: center;
  border-top: 1px solid gray;
  padding: 1rem 0.5rem ;
   color: rgb(35, 34, 34);
}
.compose_footer button{
  background-color: #188fff;
  border: none;
  outline: none;
  font-weight: bolder;
  border-radius: 0.2rem;
  color: #fff;
  padding: 0.6rem 2rem;
  margin-right: 2rem;
}
.compose_footer button:hover{
  background-color: #076ac7;
}

.compose_footer .icons i{
  margin: 0 .6rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
.compose_footer .icons i:hover{
  background: #cde3f8;
}
.dialogueBox{
    background-color: #fff;
    color: #000;
    margin-left: 15rem;
    display: none;
}
form{
 
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.logout{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  z-index: 10;
  position: fixed;
  top: 8%;
  right: 12%;
  /* padding: 2rem; */
  color: #000;
  width: 15rem;
  border-radius: 0.5rem;
  display: none;
}

.logout .profile{
  padding: 2rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c6cbf2;
  cursor: pointer;
}

.logout button{
  width: 100%;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem
}
.logout button a{
text-decoration: none;
color: #000;
}

.logout button:hover{
  background-color: #b0b0e8;
}
.sentMails{
  display: none;
}


@media screen and (max-width: 1140px){
  .mails_area{
    margin-top:6.5%;
    width: 78%;
    padding: 1rem;
  }
  .left_side{
    overflow-y: scroll;
  }
  .compose_box{
    margin-top:8%;
    width: 72%;
    margin-left: 22%;
  }
  .right_nav{
    display: none;
  }
}